{% load i18n %}
<div id="footer" class="ovhd">
  <div class="items fleft">
    <div class="item">
      <h4>{% trans "Client" %}</h4>
      <ul>
        <li><p><a href="https://www.disk42.com/download" target="_blank">Download disk42 Client</a></p></li>
        <li><p>Caution: disk42 is in beta. Not everything might work as expected.</p></li>
      </ul>
    </div>
  </div>
  <div class="other-info fright">
    <p><a href="https://www.disk42.com/imprint" target="_blank">Impressum</a></p>
  </div>

</div>
